<div id="<%= dom_id recipe %>">

<div class="title-container">
<p>
<strong>Recipe:</strong>
<%= recipe.id %>
</p>
</div>

<div class="header-w-btn">
  <p>
    <strong>Preparation time: <%= recipe.preparation_time %> h</strong>
  </p>

  <% if can? :update, @recipe %><%= button_to (@recipe.public ? "Public" : "Private"), @recipe, method: :toggle, class: (@recipe.public ? "public" : "private") %><% end %>

</div>

<div class="more-details">
  <p>
    <strong>Cooking time: <%= recipe.cooking_time %> h</strong>
  </p>

  <p>
    <strong><%= recipe.cooking_steps %></strong>
  </p>
  </div>

  <div class="btns-container">
  <button class="btn">Generate Shopping List</button>
  <% if can? :update, recipe %><%= link_to "Add ingredient", new_recipe_recipe_food_path(recipe), class: 'new-btn btn' %><% end %>
  </div>

</div>
