<p style="color: green"><%= notice %></p>
<%= button_to "Logout", destroy_user_session_path, method: :delete %>
<%= button_to "Foods", foods_path, method: :get %>
<%= button_to "Shoping list", "/shoping_list", method: :get %>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
