<p style="color: green"><%= notice %></p>
<div class="recipe-details-main-container">
<%= render @recipe %>

<div class="more-btns-container">
<% if can? :update, @recipe %><%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: 'link' %><% end %>
  <%= link_to "Back to recipes", recipes_path, class: 'link' %>

  <% if can? :destroy, @recipe %><%= button_to "Destroy this recipe", @recipe, method: :delete, class: "delete-btn" %><% end %>
</div>

<div class="ingredients-table">

<div class="ingredient-name column">
<h3 class="table-header">Food</h3>
<ul>
<li>Just to test</li>
<li>Just to test</li>
<li>Just to test</li>
</ul>
</div>
<div class="ingredient-quantity column">
<h3 class="table-header">Quantity</h3>
<ul>
<li>Just to test</li>
<li>Just to test</li>
<li>Just to test</li>
</ul>
</div>
<div class="ingredient-value column">
<h3 class="table-header">Value</h3>
<ul>
<li>Just to test</li>
<li>Just to test</li>
<li>Just to test</li>
</ul>
</div>
<div class="ingredient-action column">
<h3 class="table-header">Actions</h3>
<ul>
<li>Just to test</li>
<li>Just to test</li>
<li>Just to test</li>
</ul>
</div>

</div>

</div>
